{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_2.css'%}">
</head>
<body>
<nav>
    <ul class="topmenu">
        <li><a href="">NEserviX</a></li>
        <li><a href="">Ремонт</a>
            <ul class="submenu">
                <li><a href="">Принять в ремонт</a></li>
                <li><a href="">Принять картриджи</a></li>
                <li><a href="">Все заказы</a></li>
            </ul>
        </li>

        <li><a href="">Склад</a>
            <ul class="submenu">
                <li><a href="">Номенклатура</a></li>
                <li><a href="">Остатки товаров</a></li>
                <li><a href="">Списания</a></li>
            </ul>
        </li>

        <li><a href="">Магазин</a>
            <ul class="submenu">
                <li><a href="new_sale">Новая продажа</a></li>
                <li><a href="">Все продажи</a></li>
            </ul>
        </li>

        <li><a href="">Финансы</a>
            <ul class="submenu">
                <li><a href="">Кассы</a></li>
                <li><a href="">Зарплата</a></li>
            </ul>
        </li>

        <li><a href="">Компания</a>
            <ul class="submenu">
                <li><a href="">Настройки</a></li>
                <li><a href="">Справочники</a></li>
                <li><a href="">Клиенты</a></li>
            </ul>
        </li>
  </ul>
</nav>
{% block content %}{% endblock %}
</body>
</html>